<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中控平台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="/static/css/permission/user.css">

</head>
<body>
<div id="wrapper">
    <div class="overlay">
        <div class="sticky">
            <header>
                <div class="sticky-nav">
                    <span class="span-left">
                        <img src="/static/img/headimg/Koala.jpg" class="img-circle">
                        {{range .result}}
                            {{if eq .issuperadministrator "0"}}
                                <a href="#" class="name-a">{{.username}}</a>
                            {{end}}
                        {{end}}
                        <span class="manage-span">超级管理员</span>
                    </span>
                    <span class="span-right">欢迎使用阿拉蕾游戏服权限管理平台</span>
                </div>
            </header>
            <div class="showtable">
                <h4>游戏列表</h4>
                <div class="search">
                    <button type="button" class="btn btn-success">点击添加游戏</button>
                </div>
            </div>
            <div class="usertable">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td>GameId</td>
                        <td>游戏名称</td>
                        <td>游戏类型</td>
                        <td>管理员详情</td>
                        <td>注册时间</td>
                        <td>游戏管理</td>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="zxf_pagediv">
            </div>
            <script src="/static/js/jquery.min.js" type="text/javascript"></script>
            <script src="/static/js/zxf_page.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(".zxf_pagediv").createPage({
                    pageNum: 5,
                    current: 1,
                    backfun: function(e) {
                        //console.log(e);//回调
                    }
                });
            </script>

        </div>
    </div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a class="t1">权限管理平台</a>
                <a href="/" class="t2">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
            </li>
            <li>
                <a href="/user"><i class="fa fa-fw fa-home"></i> 管理员</a>
            </li>
            <li>
                <a href="/role"><i class="fa fa-fw fa-folder"></i> 角色管理</a>
            </li>
            <li>
                <a href="/permission"><i class="fa fa-fw fa-twitter"></i> 权限因子</a>
            </li>
            <li>
                <a href="/game"><i class="fa fa-fw fa-cog"></i> 游戏管理</a>
            </li>
            <li>
                <a href="/system"><i class="fa fa-fw fa-bank"></i> 关于系统</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <a class="a-right">
            <span class="glyphicon glyphicon-log-out"></span>
            注销
        </a>
        <a href="#" class="a-right"><span class="glyphicon glyphicon-cog"></span>设置</a>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="page-header">
                            <span class="span-left">
                                <img src="css/Koala.jpg" class="img-circle">
                                <a href="#" class="name-a">张凡</a>
                                <span class="manage-span">超级管理员</span>
                            </span>
                        <span class="span-right">欢迎使用阿拉蕾游戏服管理平台</span>
                    </div>
                    <div class="order">
                        <span class="glyphicon glyphicon-th-large"></span>
                        <span class="text">可以登陆的后台</span>
                    </div>
                    <div class="game-type">
                        <h4>U3D手游</h4>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                    </div>
                    <div class="game-type">
                        <h4>U3D手游</h4>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                    </div>
                    <div class="game-type">
                        <h4>U3D手游</h4>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                    </div>
                    <div class="game-type">
                        <h4>U3D手游</h4>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                        <span class="game-name"><a href="#">烈火封神</a></span>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
</body>
</html>