<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中控平台</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
    <link rel="stylesheet" href="/static/css/permission/logs.css">
    <script>
        $(document).ready(function(){
            var username = $("#name-a").text()
            $.ajax({
                url:"index/info",
                dataType:"json",
                data:{username:username},
                type:"get",
                async:false,
                contentType:"application/json",
                success:function (result) {
                    var lens = result.length
                    if (lens === undefined){
                        $('.game-type').text("您暂无游戏可以管理，请联系管理员为你分配权限")
                    }
                    var ret = []
                    for (var i=0;i<lens;i++){
                        ret.push(result[i].gametype)
                    }
                    var r = ret.filter(function(element,index,self){
                        return self.indexOf(element) === index;
                    });
                    var lens2 = r.length
                    for (var j=0;j<lens2;j++){
                        $('.game-type').append('<h4>' + r[j] + '</h4>')
                        for (var a=0;a<lens;a++){
                            if (r[j] === result[a].gametype){
                                $('.game-type').append('<a href='+'"'+result[a].gameurl+'/ding?name='+result[a].username+'&jsessionid='+result[a].gameallinfo+'"'+'target="_blank"><span class="game-name">'+result[a].gamename+'</span></a>')
                            }
                        }
                    }
                },
                error:function (xhr) {
                    alert("error")
                }
            })
        })
        $(function () {
            var text = $('#pagesChose').text()
            arr = text.split(" ")
            str1 = arr[0].split("")
            str2 = arr[1].split("")
            num1 = str1.slice(-2,-1)
            num2 = str2.slice(-2,-1)
            var num = Number(num2[0])
            if (num == num1[0]){
                $('#pageDown').attr("disabled",true);
                $("#pageDown").css("pointer-events","none");
            }
            if (num == 1){
                $('#pageUp').attr("disabled",true);
                $("#pageUp").css("pointer-events","none");
            }
        })

    </script>
</head>
<body>
<div id="wrapper">
    <div class="overlay">
        <div class="sticky">
            <header>
                <div class="sticky-nav">
                    <span class="span-left">
                            <a href="#" class="name-a">{{.name}}</a>
                        <span class="manage-span">超级管理员</span>
                    </span>
                    <span class="span-right">欢迎使用阿拉蕾游戏服权限管理平台</span>
                </div>
            </header>
            <div class="showtable">
                <h4>日志列表</h4>
                <blockquote class="elem-quote">
                    说明：每条日志信息会自动在一周之后清除
                </blockquote>
            </div>
            <div class="gametable">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td>访问用户</td>
                        <td>访问来源ip</td>
                        <td>是否非法用户</td>
                        <td>访问时间</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{range $index, $item := .datas}}
                        <tr id="module_{{$item.Id}}" value="{{$item.Id}}">
                            {{if eq $item.SourceName "error"}}
                                <td>正常用户</td>
                            {{else}}
                                <td>{{$item.SourceName}}</td>
                            {{end}}
                            <td>{{$item.SourceIp}}</td>
                            {{if eq $item.IsLegalIp true}}
                                <td>NO</td>
                            {{else}}
                                <td>YES</td>
                            {{end}}
                            <td>{{$item.AccessTime}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>


        </div>
        <div class="zxf_pagediv">
            <table style="margin-left: 700px;">
                <tr>
                    <td style="padding-left: 15px;"><a href="/user?name={{.name}}&head={{.head}}&page={{.paginator.firstpage}}" style="border: 1px solid;width: 30px;background: #5CADAD;text-decoration: none;" id="pageUp">上一页</a></td>
                    {{range $index,$page := .paginator.pages}}
                        <td style="padding-left: 15px;"><a href="/user?name={{$.paginator.name}}&head={{$.paginator.head}}&page={{$page}}" {{if eq $.paginator.currpage $page }} style="background-color: #005197;color: #fff;"{{end}}>{{$page}}</a></td>
                    {{end}}
                    <td style="padding-left: 15px;"><a href="/user?name={{.name}}&head={{.head}}&page={{.paginator.lastpage}}" style="border: 1px solid;width: 30px;background: #5CADAD;text-decoration: none;" id="pageDown">下一页</a></td>
                    <td style="padding-left: 15px;" id="pagesChose">共{{.totals}}条记录共记{{.paginator.totalpages}}页 当前第{{.paginator.currpage}}页</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a class="t1">权限管理平台</a>
                <a href="/" class="t2">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
            </li>
            <li>
                <a href="/user?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-home"></i> 管理员</a>
            </li>
            <li>
                <a href="/role?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-folder"></i> 角色管理</a>
            </li>
            <li>
                <a href="/permission?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-twitter"></i> 权限因子</a>
            </li>
            <li>
                <a href="/game?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-cog"></i> 游戏管理</a>
            </li>
            <li>
                <a href="/logs?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-cog"></i> 日志管理</a>
            </li>
            <li>
                <a href="/system?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-bank"></i> 关于系统</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <a class="a-right">
            <span class="glyphicon glyphicon-log-out"></span>
            注销
        </a>
        <a href="#" class="a-right"><span class="glyphicon glyphicon-cog"></span>设置</a>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="page-header">
                            <span class="span-left">
                                <img src="/static/img/headimg/{{.head}}" class="img-circle">
                                <a href="#" class="name-a" id="name-a">{{.name}}</a>
                                <span class="manage-span">超级管理员</span>
                            </span>
                        <span class="span-right">欢迎使用阿拉蕾游戏服管理平台</span>
                    </div>
                    <div class="order">
                        <span class="glyphicon glyphicon-th-large"></span>
                        <span class="text">可以登陆的后台</span>
                    </div>
                    <div class="game-type">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
</body>
</html>