<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中控平台</title>
    <link rel="stylesheet" href="/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ztree.exedit.min.js"></script>
    <link rel="stylesheet" href="/static/css/permission/role.css">
    <script type="text/javascript" src="/static/js/role.js"></script>

</head>
<body>
    
    <div id="wrapper">
        <div class="overlay">
            <div class="sticky">
                <header>
                <div class="sticky-nav">
                    <span class="span-left">
                        <a href="#" class="name-a">{{.name}}</a>
                        <span class="manage-span">超级管理员</span>
                    </span>
                    <span class="span-right">欢迎使用阿拉蕾游戏服权限管理平台</span>
                </div>
                </header>
                <div class="selectcontent">
                    <h4>角色权限管理</h4>
                    <blockquote class="elem-quote">
                        说明：新增角色权限，请直接将相关数据保存即可，修改和删除执行相关操作
                    </blockquote>
                    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" id="roleForm">
                        {{ .xsrfdata }}
                        <div id="select-all">
                            <div id="select-alter">
                                <div class="select-one">
                                    <p>请选择管理员组别</p>
                                    <select id="usertype" name="usertype">
                                        {{range .result}}
                                        <option value={{.usertypename}}>{{.usertypename}}</option>
                                        {{end}}
                                    </select>
                                </div>
                                <div class="select-one">
                                    <p>请选择管理员</p>
                                    <select id="username" name="username">
                                    </select>
                                </div>
                                <div class="select-one">
                                    <p>请选择游戏名称</p>
                                    <select id="gamename" name="gamename">
                                        {{range .result2}}
                                            <option value={{.gamename}}>{{.gamename}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="select-role">
                                <p>请配置相应的权限</p>
                                <div id="tree" class="pre-scrollable ztree" style="background-color: white;"></div>
                            </div>
                        </div>
                        <div class="select-btn">
                            <button type="submit" class="btn btn-success" id="addBtn">保存</button>
                            <button type="submit" class="btn btn-info">修改</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a class="t1">权限管理平台</a>
                    <a href="/" class="t2">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                </li>
                <li>
                    <a href="/user?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-home"></i> 管理员</a>
                </li>
                <li>
                    <a href="/role?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-folder"></i> 角色管理</a>
                </li>
                <li>
                    <a href="/permission?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-twitter"></i> 权限因子</a>
                </li>
                <li>
                    <a href="/game?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-cog"></i> 游戏管理</a>
                </li>
                <li>
                    <a href="/system?name={{.name}}&head={{.head}}"><i class="fa fa-fw fa-bank"></i> 关于系统</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a class="a-right">
                <span class="glyphicon glyphicon-log-out"></span>
                    注销
            </a>
            <a href="#" class="a-right"><span class="glyphicon glyphicon-cog"></span>设置</a>
        
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="page-header">
                            <span class="span-left">
                                <img src="/static/img/headimg/{{.head}}" class="img-circle">
                                <a href="#" class="name-a">{{.name}}</a>
                                <span class="manage-span">超级管理员</span>
                            </span>
                            <span class="span-right">欢迎使用阿拉蕾游戏服管理平台</span>
                        </div>
                        <div class="order">
                            <span class="glyphicon glyphicon-th-large"></span>
                            <span class="text">可以登陆的后台</span>
                        </div>
                        <div class="game-type">
                            <h4>U3D手游</h4>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                        </div>
                        <div class="game-type">
                            <h4>U3D手游</h4>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                        </div>
                        <div class="game-type">
                            <h4>U3D手游</h4>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                        </div>
                        <div class="game-type">
                            <h4>U3D手游</h4>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                            <span class="game-name"><a href="#">烈火封神</a></span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>

</body>
</html>